.block1 {background-color:#d5f4e6;margin:10px;padding:10px;width: 60px;}
.block2 {background-color:#d5f4ff;margin:10px;padding:10px;width: 60px;}
.block3 {background-color:#d5cce4;margin:10px;padding:10px;width: 60px;}
.block4 {background-color:#ccdbe6;margin:10px;padding:10px;width: 60px;}
